* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 245, 245);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    width: 375px;
    height: 560px;
    border-radius: 35px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
} 

input {
    background-color: #17181A;
    outline: none;
    border: none;
    font-size: 48px;
    text-align: right;
    color: #fff;
    padding-top: 50px;
    grid-column: 1/5;
    grid-row: 1/3;
}

button {
    font-size: 24px;
    margin: 7px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: #fff;
}

button:hover {
    opacity: 0.7;
}

.gray-btn {
    background-color: #616161;
}

.black-btn {
    background-color: #303136;
}

.blue-btn {
    background-color: #035ea8;
}

.equal-btn {
    background-color: #1991FF;
    grid-column: 4/5;
    grid-row: 6/8;
}

.zero {
    grid-column: 1/3;
    grid-row: 7/8;
}