* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 245, 245);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    width: 375px;
    height: 560px;
    border-radius: 35px;
    padding: 20px;
}    