* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 245, 245);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    width: 375px;
    height: 560px;
    border-radius: 35px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
} 

input {
    background-color: #17181A;
    outline: none;
    border: none;
    font-size: 48px;
    text-align: right;
    color: #fff;
    padding-top: 50px;
    grid-column: 1/5;
    grid-row: 1/3;
}